<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.jpmorgan.com/global" target="_blank">JPMorganChase</a> where I spend my time crafting backend systems and building elegant solutions to complex problems with some incredible teammates.
    </p>
    <p>
      I'm a self-declared <strong>philosophy nerd</strong> turned software engineer.
    </p>
    <p>
      I got into tech not just for the logic but because I love understanding messy, real-world problems and distilling them down to clean, efficient code. There's a unique thrill in collaborating with others, 
      aligning on the right solution, and watching it come to life.
      I’m particularly obsessed with writing code that’s not just functional but intuitive — the kind that makes other engineers go, “ah, that’s neat.”
    </p>

    <p>
      <strong>When I'm not in front of a computer screen...</strong> I'm in a quest to expand my emotional intelligence and learn about the human mind. I devour books that make you stop, 
      think, and see the world a little differently.
      <br> 
      (A music head with <strong>Tiny Desk</strong> on a never-ending loop in the background.)
      And if you ever want to trade song recommendations or geek out over how music and thought are wired in us… I’m your person.

    <!-- {% include employment-status.html %} -->
  </div>
</section>
